* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

header {
    font-size: 1.2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35); */
    border: none;
    background: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

form button {
    color: #B721FF;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover {
    background: #B721FF;
    color: white;

}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    padding-left: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #B721FF;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.complete-btn {
    background: rgb(19, 136, 19);
}

.todo-item {
    padding: 0rem 0.rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}